# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# All text documents
*.txt
*.pdf
*.doc
*.docx

# Back-up Files
*~

# All executables
/Exercise1/hello
/Exercise2/Exercise2
/Exercise3/Exercise3
/Exercise4/Exercise4
/Exercise5/Exercise5
/Exercise6/Exercise6
/Exercise7/Exercise7
/Exercise8/Exercise8
/Exercise9/Exercise9
/Exercise10/Exercise10